body{
    background-color:aqua;

}
.dropdown {
    position: relative;
    display: inline-block;
  }
  h1{
    color:white;
  }
.btn{
    padding: 10px;
    border:none;
    background-color: rgb(135, 204, 135);
    font-size: 20px;
    color:white;
    cursor:pointer;
}
.list{
    position: absolute;
    display:none;
    z-index: 1;
    background-color: white;
    width:100px;
}
.list a{
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    border-bottom: 1px solid black;
}
.list a:hover{
    color:white;
    background-color: black;
}
.dropdown:hover .list{
    display:block;
}
.nav{
    background-color: black;
    display:flex;
    justify-content: space-between;
    width:100%;
    top:0px;
    
}